<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<style>
    body {
        text-align: center;
    }
    
    h2 {
        text-align: center;
        font-size: 38px;
        color: darkturquoise;
        margin-top: 20px;
    }
    h2 a {
        color: darkturquoise;
        font-size: 14px;
    }
    
    p {
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        color: darkturquoise;
    }
</style>

<body>
    <h2><%= title%><a href="/api/doc">查看接口文档</a></h2>
    <div id="box"></div>
</body>
<script>
    var box = document.getElementById('box');
    var socket = io.connect('http://localhost:4000');

    socket.on('getMsg', function(data) {
        console.log(data);
        box.innerHTML = '<span>' + data + '</span>'
    })  

    socket.on('event01', function(data) {   
        console.log(data);   
        socket.emit('event02', {
            my: 'data client'
        });  
    });
</script>

</html>